/*body {
  margin: 0;
}

#container-imagem {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url(/cinemar/img/cool-background.png);
  background-size: cover;
}

input.transparent-input {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}*/
